*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}

form{
    min-height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
form button{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: whitesmoke;
    border-radius: 2rem;
}
form button{
    color: rgb(215, 248, 247);
    background: mediumslateblue;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}
 
form button:hover {
    color: whitesmoke;
    background: rgb(215,248,247);
}
.fa-circle-plus{
    margin-top: 0.3rem;
        margin-left: -8px
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: black;
    color:mediumorchid;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    color: whitesmoke;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(155, 28, 228);
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(240, 153, 221);
}

.todo-item {
    padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}select {
    color: rgba(255, 98, 221, 0.904);
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}.select::after {
    content: "\25BC";
    position: absolute;
    background: mediumorchid;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color: mediumslateblue;
}